<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FourLPro</display-name>
   <jsp-config>
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
  <taglib-location>/WEB-INF/ftm.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
  <taglib-location>/WEB-IND/fmt-rt.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
  <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
  <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
  <taglib-location>/WEB-INF/sql.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com.jstl/sql-rt</taglib-uri>
  <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com.jstl/x</taglib-uri>
  <taglib-location>/WEB-IND/x.tld</taglib-location>
  </taglib>
  
  <taglib>
  <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
  <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
  </taglib>
  
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>com.w1</servlet-name>
    <servlet-class>com.Hehe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.w1</servlet-name>
    <url-pattern>/ww</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>w2</servlet-name>
    <servlet-class>servlet.administrator.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>w2</servlet-name>
    <url-pattern>/adminfind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSee</servlet-name>
    <servlet-class>servlet.administrator.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSee</servlet-name>
    <url-pattern>/adminSee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSee1</servlet-name>
    <servlet-class>servlet.administrator.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSee1</servlet-name>
    <url-pattern>/adminSee1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>change1</servlet-name>
    <servlet-class>servlet.administrator.ChangeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change1</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>refresh1</servlet-name>
    <servlet-class>servlet.administrator.Refresh1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refresh1</servlet-name>
    <url-pattern>/refresh1</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>com.fourLStadio.service.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>